{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "ignorePatterns": ["/public/**"],
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": "off",
    "no-console": "off"
  }
}
